#liveMap{
    width: 70%;
    height: 500px;
    display: table-cell;
}

#team{
    width: 30%;
    height: 500px;
}
#header{
	margin-top:10px;
	margin-right:3%;  
}

#divlogo h1{
	margin-top:20px;
	text-align: center;
}
#statsMap{
	margin: 0px 10px;
}
#log{
	display: table-cell;
}

#container{
    display: table;
    width: 100%;
    margin: 10px;

}


