#liveMap{
    width: 70%;
    height: 500px;
    display: table-cell;
}

#team{
    width: 30%;
    height: 500px;
    display: table-cell;
}


#log{

}

#container{
    display: table;
    width: 100%;
    margin: 10px;
}